.container{

    padding: 0;
}
.header{
    text-align: center;
    font-size: 30px;
}
.input{
    text-align: center;
}
.reset{
    text-align: center;
    padding: 15px 25px;
    
}
.check{
    text-align: center;
}